// Use this file to define style overrides for @edx/paragon
// This file is included after all Paragon styles, but should generally avoid using private mixins in Paragon.
@media screen and (min-width: 768px){
    .learning-header {
      min-height: 100px;
    }
    .learning-header .logo img{
      max-height: 80px;
      height: 80px !important;
    }
  }
  a{
    color: #3a2562 !important;
  }