// Use this file to define style overrides for @edx/paragon
// This file is included after all Paragon styles, but should generally avoid using private mixins in Paragon.
@media (max-width: 768px){
    .course-title-lockup{
        display: none !important;
    }
    .card.pgn__card > .pgn__card-header{
        flex-direction: column;
        align-items: center;
    }
    .card.pgn__card .pgn__card-header .pgn__card-header-title-md{
        text-align: center;
    }
    .learning-header a img {
        max-height: 40px !important;
    }
}
@media (min-width: 769px){
    .learning-header {
      min-height: 100px;
    }
    .learning-header .logo {
        height: unset !important;
    }
    .learning-header .logo img{
      max-height: 80px;
      height: 80px !important;
    }
}
.learning-header .course-title-lockup .small {
    display: none !important;
}
.course-tabs-navigation a.nav-link{
    color: $primary;
}
.user-dropdown .dropdown-item{
    color: $primary;
}
.learning-header .container-xl{
    justify-content: space-between !important;
}
.learning-header .course-title-lockup a{
    display: none !important;
}
